.cookie-flex {
    display: flex;
}

.cookie-section {
    background-color: #D9D9D9;
    text-align: left;
    height: fit-content;
}

.cookie-button {
    text-align: right;
}

button {
    background-color: #57ABF9;
    border-radius: 10px;
    margin: 0 1rem 0 1rem;
    min-height: 2rem;
    min-width: 6rem;
}


