header{
    background-image: url(../images/header-horse-1920.png);
    background-size: cover;
    background-position:0;
    position: relative;
	height: 40vh;
    h1 {
        font-family: 'Aref Ruqaa Ink', serif;
        text-align: center;
        margin-top: 0;
        font-size: 3rem;
    }
}

ul {
    // list-style: none;
    list-style-image: url(images/favicon-list.png);
    margin: 0;
    display: flex;
    justify-content: flex-end;
    li {
        margin-right: 2rem;
        font-size: large;
        width: 7rem;
        // vertical-align: middle;
        display: inline-block;
        text-align: center;
        :hover {
            color: #EFAD03;
        }
        a {
            text-decoration: none;
        }
    }
}