header{
    background-image: url(../images/header-horse-1920.png);
    background-size: cover;
    background-position:0;
    position: relative;
	height: 40vh;
    h1 {
        font-family: 'Aref Ruqaa Ink', serif;
        text-align: center;
        padding-top: 4rem;
        font-size: 3rem;
    }
}