header{
    background-image: url(../images/header-horse-1920.png);
    background-size: cover;
    background-position:0;
    position: relative;
	height: 40vh;
    h1 {
        font-family: 'Aref Ruqaa Ink', serif;
        text-align: center;
        margin-top: 0;
        font-size: 3rem;
        color: red;
    }
}

ul {
    // list-style: none;
    list-style-image: url(/images/favicon-list.png);
    margin: 0;
    display: flex;
    justify-content: flex-end;
    color: red;
   
    li {
        margin-right: 1rem;
        font-size: large;
        background-color: yellow;
        color: red;
        &:hover{
            color: red;
        }
        a {
            text-decoration: none;
            color: red;
            
        }
    }
}