@mixin submitHeight {
    height: 2rem;
}

section {
    text-align: center;
}

.about-us {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

.about-us-item {
    width: 20rem;
    padding: 1rem;
    background-color: rgba(240, 234, 234, 0.992);
    h4{
        // width: 90%;
        text-align: left;
        padding: 0 2rem;
    }
}

.subscribe {
    display: flex;
    justify-content: space-around;
}

.subscribe-message {
    color: #F04902;
    
}

.submitButton {
    background-color: #FED469;
    border-radius: 100px 20px 100px 20px ;
    margin-left: 1rem;
    width: 8rem;
    @include submitHeight;
    // text-align: center;
    &:hover {
        background-color: #EFAD03;
    }
}

.newsletters {
    margin-top: 5rem;
}

input {
    border-radius: 5px;
    @include submitHeight;
}

.two-horses {
    width: 500px;
    height:400px;
    border-radius: 50px;
}

.footer-logo {
    background-image: url(/images/circle-640.png);
    border-radius: 50px;
    width: 400px;
    height: 350px;
    animation: rotate-anime 15s linear infinite;
}

@keyframes rotate-anime {
    0%  {transform: rotate(0);}
    100%  {transform: rotate(360deg);}
  }